@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>KickIt</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron" style="border: whitesmoke">
        <h2>Welcome to KickIt! The App that connects you with your friends!</h2>
    </div>
    <div class="col-md-4">
        
    </div>
    
    <div class="col-md-4 text-center">
        <div class="btn btn-danger btn-lg">
            @Html.ActionLink("KickIt", "Contact")
        </div>
    
        <div class="col-md-4">
    
        </div>

        </div>
        </div>
</body>
</html>