@model Kickit.Models.Invitor
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sent</title>
</head>
<body>
<div>
    <h1>Hi @Model.FromName your Email  sent to @Model.ReceiverName</h1>
</div>
</body>
</html>
