@model Kickit.Models.MovieTimes

@{
    ViewBag.Title = "Sorry";
}

<h2>Sorry</h2>
<body>
@using (Html.BeginForm())
{   @Html.ValidationSummary();

    <p>Thanks for choosing to KickIt!</p>
        <p>Unfortunately, you and your friend do not have matching availibity at this time. 
    Try again another time! </p>


}
    </body> 