@model Kickit.Models.MovieTimes

@{
    ViewBag.Title = "Thanks";
}

<h2>Thanks</h2>

<body>
    @using (Html.BeginForm())
    {   @Html.ValidationSummary();

        <p>Thanks for choosing to KickIt!</p>
        <p>Here are the movie time options in your area:</p>
        //movie API 






    }
    </body> 